<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Bank Accounts</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div>
        <h1><span th:text="'Welcome on PayMyBuddy ' + ${currentUser.firstName} + ' ' + ${currentUser.lastName}"></span></h1>
        <h2><span th:text="'Account balance : ' + ${currentUser.accountBalance}"></span></h2>
    </div>
    <div>
        <a th:href="@{/addBankAccount}">Add new bank account</a>
    </div>
    <div>
        <h2>Manage account</h2>
        <form th:action="@{/transfer}" th:object="${transactionDTO}"
              method="post" style="max-width: 600px; margin: 0 auto;">
            <div class="m-3">
                <div class="form-group row">
                    <div class="col-8">
                        <!--<select th:field="*{transactionType}" class="form-select" required>
                            <option th:value="0" disabled th:selected="selected" th:text="'Select operation'"></option>
                            <option th:value="BANK_TRANSFER_DEPOSIT" th:text="Deposit"></option>
                            <option th:value="BANK_TRANSFER_WITHDRAWAL" th:text="Withdraw"></option>
                        </select>-->
                        <select th:field="*{transactionType}" class="form-select" required>
                            <option th:value="0" disabled th:selected="selected" th:text="'Select operation'"></option>
                            <option th:each="transactionType : ${transactionTypes}" th:value="${transactionType.name}" th:text="${transactionType.value}"></option>
                        </select>
                        <select th:field="*{bankAccount}" class="form-select" required>
                            <option th:value="0" disabled th:selected="selected" th:text="'Select a bank account'"></option>
                            <option th:each="bankAccount : ${bankAccounts}" th:value="${bankAccount.id}" th:text="${bankAccount.caption}"></option>
                        </select>
                        <input type="text" th:field="*{amount}" th:placeholder="0+' ?'" class="form-control" required />
                        <span th:text="${amountMessage}"></span>


                        <input type="text" th:field="*{description}" placeholder="Description" class="form-control" required minlength="2" />
                        <input th:type="hidden" id="sender" name="sender" th:value="${currentUser.id}" class="form-control" readonly>
                        <input th:type="hidden" id="beneficiary" name="beneficiary" th:value="${currentUser.id}" class="form-control" readonly>
                        <button type="submit" class="btn btn-primary">Transfer</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>RIB title</th>
            <th>IBAN</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bankAccount : ${bankAccounts}">
            <td th:text="${bankAccount.caption}">Empty caption</td>
            <td th:text="${bankAccount.iban}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>