<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Register</title>
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
        <link href="../static/css/pmb.css" rel="stylesheet" media="screen" th:href="@{/css/pmb.css}"/>
        <script type="text/javascript" src="../static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3" th:replace="/fragments/header :: header"></header>
            <nav aria-label="breadcrumb" th:replace="/fragments/header :: breadcrumb"></nav>
            <div class="container text-center">
                <div>
                    <h1>User Registration - Sign Up</h1>
                </div>
                <form th:action="@{/register}" th:object="${user}"
                  method="post" style="max-width: 600px; margin: 0 auto;">
                    <div class="row mb-3">
                        <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                        <div class="col-sm-10">
                            <input type="email" id="email" th:field="*{email}" class="form-control" required />
                            <span class="error" th:text="${emailMessage}"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="password" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" id="password" th:field="*{password}" class="form-control"
                                       required minlength="6" maxlength="15"/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="firstName" th:field="*{firstName}" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="lastName" th:field="*{lastName}" class="form-control"
                                       required minlength="2" maxlength="25" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="address" class="col-sm-2 col-form-label">Address: </label>
                        <div class="col-sm-10">
                            <input type="text" id="address" th:field="*{address}" class="form-control"
                                       required minlength="10" maxlength="125" />
                        </div>
                    </div>
                    <button type="submit" class="btn pmb-theme">Sign Up</button>
                </form>
            </div>
        </div>
    </body>
</html>